$default-font-size: 80%;
$big-screen-font-size: 70%;
$medium-screen-font-size: 60%;
$medium-small-screen-font-size: 50%;
$mobile-screen-font-size: 45%;

$default-font-weight: 200;
$default-font-family: 'Lato', sans-serif;

$primary-color: #383E4C;
$primary-color-lighter: #646d7c;
$header-hover-color: #49505F;
$card-color: #F2F2F2;
$card-text-color: #178A27;
$service-card-text-color: #666666;

$primary-text-shadow: 2px 2px #000;

$big-screen: 1450px;
$medium-screen: 1200px; 
$medium-small-screen: 900px;
$small-screen: 700px; 
$mobile-screen: 600px;