.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative; 
  font-size: 1.5rem;
  opacity: 0;
  animation: moveInBottom 0.55s 0.8s forwards;
  border: none;
  cursor: pointer;


  @include transition-all;

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba($color-black, 0.3); 
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include transition-all;
  }

  &:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
  }

  &-white {
    background: $color-white;
    color: $color-grey-dark;

    &::after {
      background: $color-white;
    }
  }

  &-green {
    background: $color-primary;
    color: $color-white;

    &::after {
      background: $color-primary;
    }
  }
}

.btn-text {
  
  &:link, &:visited {
    color: $color-primary;
    text-decoration: none;
    font-size: $default-font-size;
    padding: 7px;
    border-bottom: 1px solid $color-primary;
    @include transition-all;
  }

  &:hover {
    background: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, .15); 
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 .5rem 1rem rgba($color-black, .15); 
    transform: translateY(0);
  }

}