.popup {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, .8); 
    z-index: 5000;
    opacity: 0;
    visibility: hidden;

    &-content {
        @include absoluteCenter;
        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        overflow: hidden;
        opacity: 0;
        transition: all .7s .2s;
        transform: translate(-50%,-50%) scale(0);
    }

    &-left {
        width: 33.3333333%;
        display: table-cell;
        vertical-align: middle;
    }

    &-right {
        width: 66.66666667%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &-img {
        display: block;
        width: 100%;
    }

    &-text {
        font-size: 1.8rem;
        margin-bottom: 4rem;
        column-count: 2;
        column-gap: 4rem;
        column-rule: 2px solid $color-grey-light-2;

        @include respond(tab-port) {
            column-count: 1;
        }

        
    }

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &-content {
        opacity: 1;
        transform: translate(-50%,-50%) scale(1);        
    }

    &-close {
        color: $color-grey-dark;
        text-decoration: none;
        position: absolute;
        display: inline-block;
        font-size: 4.5rem;
        top: .5rem;
        right: 3rem;
        transition: all .2s;

        &:hover {
            color: $color-primary;
        }
    }

}